body{
    margin: 0%;
    text-align:center;
    
}


.box{
    display: inline-block;
    width: 95%;
    height: 10%;
    border: 5px solid pink;
    background-color: rgba(208, 227, 103, 0.2);
    margin: 20px;
}

.box1{
    display: inline-block;
    width: 95%;
    height: 30%;
    border: 5px solid rgb(215, 52, 79);
    background-color: rgba(282, 157, 249, 0.2);
}


h4{
    border: 2px solid red  ;
    display: inline-block;
    margin-bottom: 0%;
    
}
